/* css样式初始化 */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
}
/* header样式初始化*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #3F3D56;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 导航样式 */
.navbar ul{
    display: flex;
}

.navbar ul li{
    font-weight: bold;
    width: 128px;
    list-style: none;
    text-align:center;
}
.navbar ul li a {
    width: 128px;
    line-height: 45px;
    font-size: 1.7rem;
    color: white;
}
.navbar ul li a:hover{
    color: #009933;
}
/* 二级菜单样式 */
.navbar ul li ul{
    position: absolute;
    display: none;
    width: 128px;
    line-height: 45px;
}

.navbar ul li ul li{
    background-color: #3F3D56;
}
/* 悬浮展开二级菜单 */
.navbar ul li ul li a:hover{
    color: #ffffff;
}
.navbar ul li ul li:hover{
    background-color: #009933;
    cursor: pointer;
}

.navbar ul li:hover ul{
    display: block;
}
/* 网站内容*/
.content{
    margin-top:50px;
}
.kong{
    height: 50px;
    width: 100%;
}
#app{
    font-size: 30px;
    text-align: center;
}
.mid{
    height: auto;
    width: 80%;
    margin: auto;
}
.main{
    background-color: skyblue;
    height: 1000px;
}
/*轮播图*/
.swiper{
    position: relative;
    width: 57%;
    height: 295px;
    margin: auto;
    overflow: hidden;
}
/* 轮播图片 */
.swiper img{
    max-width: 100%;
    margin: 0 auto;
}
/* 箭头图标 */
.iconDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #666;
    border-radius: 15px;
    background-color: rgb(125,125,125,.2);
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.iconDiv:hover{
    background-color: #ffffff;
}
.icon-left{
    left: 10px;
}
.icon-right{
    right: 10px;
}

/* 控制圆点 */
.banner-circle{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}
.banner-circle ul{
    margin: 0 50px;
    height: 100%;
    text-align: right;
}
.banner-circle ul li{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    border-radius: 7px;
    background-color: rgba(125,125,125,.8);
    cursor: pointer;
}
.active{
    background-color: #ffa700 !important;
}