<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="header.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--引入vue-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script><!--引入axios-->
</head>
<body>
<div class="header">
    <nav class="navbar">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">分类</a>
                <ul class="hide">
                    <li><a href="#">科幻</a></li>
                    <li><a href="#">悬疑</a></li>
                    <li><a href="#">搞笑</a></li>
                </ul>
            </li>

            <li><a href="#">后台管理</a></li>
        </ul>
    </nav>
</div>
<div class="kong"></div>
<div class="mid"><!--内容区-->
    <div id="app">
        {{message}}
    </div>
    <div class="main">
        <div class="swiper" id="swiper"><!--轮播图-->
            <a href="#"><img  @mouseover="changeInterval(true)"
                              @mouseleave="changeInterval(false)"
                              v-for="item in imgArr"
                              :key="item.id"
                              :src="item.url"
                              alt="暂无图片"
                              v-show="item.id===currentIndex"
            ></a>
            <!--左侧按钮-->
            <div  @click="clickIcon('up')"   class="iconDiv icon-left">
                <span class="icon-triangle-left"></span>
            </div>
            <!--右侧按钮-->
            <div  @click="clickIcon('down')"  class="iconDiv icon-right">
                <span class="icon-triangle-right"></span>
            </div>
            <!--控制圆点-->
            <div class="banner-circle">
                <ul>
                    <li @click="changeImg(item.id)"
                        v-for="(item) in imgArr"
                        :key="item.id"
                        :class="item.id=== currentIndex ? 'active': '' "
                    ></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="index.js"></script>
</body>
</html>